@keyframes spinner {
    0%, 27% {
        transform: rotate(0deg);
    }
    33%, 60% {
        transform: rotate(120deg);
    }
    66%, 94% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spinner infinite ease-in-out;
    animation-duration: 11s;
}