@keyframes spinner {
    0%, 27% {
        transform: rotate(0deg);
    }
    33%, 60% {
        transform: rotate(120deg);
    }
    66%, 94% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grade {

    0%, 27% {
        background-position: 0% 33%;
    }

    33%, 60% {
        background-position: 33% 66%;
    }

    66%, 94% {
        background-position: 66% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.spinner {
    animation: spinner infinite ease-in-out;
    animation-duration: 21s;
}

.nice{
    
    animation: grade infinite ease-in-out;
    animation-duration: 21s;
}
